@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);


#loginForm>.button{
    width:100px;
    background:#3399cc;
    display:block;
    margin:0 auto;
    margin-top:1%;
    padding:10px;
    text-align:center;
    text-decoration:none;
    color:#fff;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
}

#loginForm>.button:hover{
    background:#2288bb;
}

#loginForm{
    background:#f0f0f0;
    font-family:'Open Sans',sans-serif;
    margin:0;padding:0;
    width:400px;
    margin:0 auto;
    margin-top:8px;
    margin-bottom:2%;
    transition:opacity 1s;
    -webkit-transition:opacity 1s;
}


#loginForm>h1{
    background:#3399cc;
    padding:20px 0;
    font-size:large;
    font-weight:300;
    text-align:center;
    color:#fff;
}

#loginForm>form{
    
    padding:6% 4%;
}

#loginForm>input[type="text"]+input[type="password"]{
    
    background:#fff;
    margin-bottom:1%;
    border:1px solid #ccc;
    padding:4%;
    font-family:'Open Sans',sans-serif;
    font-size:medium;
    color:#555;
}

#loginForm>input[type="submit"]{
    width:400px;
    background:#3399cc;
    border:0;
    padding:4%;
    font-family:'Open Sans',sans-serif;
    font-size:medium;
    color:#fff;
    cursor:pointer;
    transition:background .3s;
    -webkit-transition:background .3s;
}

#loginForm>input[type="submit"]:hover{
    background:#2288bb;
}